.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-image-1 {
  width: 63px;
  height: 63px;
  margin: 26px auto 0 68px;
}

.u-section-1 .u-image-2 {
  width: 63px;
  height: 63px;
  margin: -63px auto 0 507px;
}

.u-section-1 .u-text-1 {
  margin: -45px 373px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: -28px auto 0 143px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 63px;
  height: 63px;
  margin: 29px auto 0 68px;
}

.u-section-1 .u-image-4 {
  width: 63px;
  height: 63px;
  margin: -63px auto 0 507px;
}

.u-section-1 .u-text-3 {
  margin: -46px auto 0 136px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -28px 472px 0 auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 63px;
  height: 63px;
  margin: 30px auto 0 68px;
}

.u-section-1 .u-image-6 {
  width: 63px;
  height: 63px;
  margin: -63px auto 0 507px;
}

.u-section-1 .u-text-5 {
  margin: -45px auto 0 136px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: -28px 434px 60px auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 308px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 389px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 358px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 236px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 298px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 274px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 17px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 158px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -44px;
    margin-right: auto;
    margin-left: 89px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -246px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 18px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -136px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 29px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -98px;
    margin-right: 151px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 102px;
    margin-left: 18px;
  }

  .u-section-1 .u-image-6 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -44px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -25px;
    margin-right: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 87px;
    margin-left: -31px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 41px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -175px;
    margin-left: 41px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 31px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 87px;
    margin-left: -31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -194px;
    margin-right: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 125px;
    margin-right: auto;
    margin-left: 41px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 31px;
    margin-left: -31px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 12px;
    margin-left: -31px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -119px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: 37px;
  }
}