.u-section-1 .u-sheet-1 {
  min-height: 1443px;
}

.u-section-1 .u-group-1 {
  width: 797px;
  min-height: 902px;
  height: auto;
  margin: 40px auto 0 22px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 707px;
  min-height: 712px;
  height: auto;
  margin: 190px auto 0 -20px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-group-elements-1 {
  min-height: 846px;
  width: 790px;
  height: auto;
  margin: -172px -485px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 778px;
  height: 754px;
  margin: 89px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 668px;
  height: 668px;
  margin: -846px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 7.5rem;
  line-height: 1;
  font-weight: 700;
  margin: -776px -186px 0 401px;
}

.u-section-1 .u-text-2 {
  font-family: Poppins;
  line-height: 2;
  font-size: 1.25rem;
  margin: 0 -128px 0 433px;
}

.u-section-1 .u-image-1 {
  width: 784px;
  height: 547px;
  margin: 29px auto -242px -53px;
}

.u-section-1 .u-image-2 {
  width: 261px;
  height: 261px;
  background-image: url("images/SMART-ID_Export_20200526163452_schwarzweiss.jpg");
  background-position: 50% 41.36%;
  margin: -707px -34px 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 82px 123px 0 auto;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-text-3 {
  margin: 277px auto 60px 746px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 707px;
    height: 494px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 605px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 318px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 350px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 377px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9349px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 337px;
    min-height: 479px;
    margin-top: -269px;
    margin-right: 4px;
  }

  .u-section-1 .u-shape-1 {
    width: 319px;
    height: 402px;
    margin-top: 73px;
    margin-left: 18px;
  }

  .u-section-1 .u-shape-2 {
    width: 335px;
    height: 335px;
    margin-top: -479px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -437px;
    margin-right: 45px;
    margin-left: -45px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -49px;
    margin-left: 170px;
  }

  .u-section-1 .u-image-1 {
    width: 438px;
    height: 306px;
    margin: 102px -49px 0;
  }

  .u-section-1 .u-image-2 {
    width: 196px;
    height: 196px;
    margin-top: -824px;
    margin-right: auto;
    margin-left: -26px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-right: auto;
    margin-left: -26px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 337px;
    margin-left: -43px;
    margin-right: -43px;
  }
}