.u-section-1 .u-sheet-1 {
  min-height: 1190px;
}

.u-section-1 .u-shape-1 {
  width: 778px;
  height: 754px;
  margin: 8px -14px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 668px;
  height: 668px;
  margin: -800px 52px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 261px;
  height: 261px;
  background-image: url("images/SMART-ID_Export_20200526163452_schwarzweiss.jpg");
  background-position: 50% 41.36%;
  margin: -618px 21px 0 auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 156px 108px 0 auto;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-image-2 {
  width: 765px;
  height: 535px;
  margin: 84px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins;
  line-height: 2;
  font-size: 1.25rem;
  margin: -766px 157px 0 496px;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: -328px auto 0 176px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 300px;
  margin: -158px auto 0 -18px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 300px;
  margin: -542px auto 0 -32px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -200px 188px 0 527px;
}

.u-section-1 .u-text-3 {
  margin: 460px 0 0 769px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -590px 226px 60px auto;
  padding: 14px 73px 15px 71px;
}

.u-section-1 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 9px;
    margin-right: 86px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -745px;
    margin-right: 200px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -332px;
    margin-right: 209px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -29px;
    margin-right: auto;
    margin-left: 127px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 327px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 2229px;
    margin-right: 57px;
    margin-left: 200px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -3656px;
    margin-right: 459px;
    margin-left: 181px;
  }

  .u-section-1 .u-image-4 {
    margin-left: -13px;
  }

  .u-section-1 .u-image-5 {
    margin-left: -27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -351px;
    margin-right: 164px;
    margin-left: 451px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 436px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -299px;
    margin-right: auto;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 386px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 386px;
  }

  .u-section-1 .u-image-2 {
    height: 504px;
    margin-top: 261px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 11822px;
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -13499px;
    margin-right: -31px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -216px;
    margin-right: 188px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -368px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 411px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 124px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -306px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1265px;
  }

  .u-section-1 .u-shape-1 {
    width: 391px;
    height: 381px;
    margin-top: -20px;
    margin-right: 3px;
  }

  .u-section-1 .u-shape-2 {
    width: 303px;
    height: 303px;
    margin-top: -372px;
    margin-right: -20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 146px;
    height: 146px;
    margin-top: -303px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 124px;
    margin-left: 18px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-image-2 {
    height: 378px;
    margin-top: 7px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: -535px;
    margin-right: 18px;
    margin-left: 327px;
  }

  .u-section-1 .u-image-3 {
    width: 180px;
    height: 180px;
    margin-top: -324px;
    margin-right: auto;
    margin-left: 59px;
  }

  .u-section-1 .u-image-4 {
    width: 128px;
    height: 127px;
    margin-top: -165px;
    margin-left: -34px;
  }

  .u-section-1 .u-image-5 {
    width: 178px;
    height: 178px;
    margin-top: -40px;
    margin-left: -50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-top: -196px;
    margin-right: -30px;
    margin-left: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 510px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -618px;
    margin-right: 49px;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-shape-1 {
    width: 287px;
    height: 277px;
    margin-top: 8px;
    margin-right: -34px;
  }

  .u-section-1 .u-shape-2 {
    width: 209px;
    height: 209px;
    margin-top: -277px;
    margin-right: -39px;
  }

  .u-section-1 .u-image-1 {
    width: 104px;
    height: 104px;
    margin-top: -204px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 97px;
    margin-left: 0;
    padding: 8px 20px 9px 19px;
  }

  .u-section-1 .u-image-2 {
    height: 238px;
    margin-top: 57px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: -421px;
    margin-right: -11px;
    margin-left: 119px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -6460px;
    margin-left: -61px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -18px;
    margin-right: 40px;
    margin-left: -93px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -144px;
    margin-left: -93px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 5914px;
    margin-right: -36px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 409px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -567px;
    margin-right: 13px;
    padding: 8px 10px 9px 8px;
  }
}